In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [3]:
df2 = pd.read_csv('period_distance_with_clusters_F20.csv', encoding='utf-8-sig')
df3 = pd.read_csv('performance_pf_F20.csv', encoding='utf-8-sig')

In [4]:
df = pd.merge(df3, df2, on='User full name')

In [5]:
df

,User full name,Grade,Performance,Dedication1,Dedication2,Dedication3
0,Rayane Azoui,82.050000,Passed,Period-I-Low,Period-II-Low,Period-III-Low
1,Yacine Brihmouche,77.058333,Passed,Period-I-Low,Period-II-Medium,Period-III-Medium
2,Anes Bouzouaoui,76.250000,Passed,Period-I-Medium,Period-II-Medium,Period-III-Medium
3,Ali Benabdallah,75.950000,Passed,Period-I-Medium,Period-II-Medium,Period-III-Medium
4,Nikola Kostadinovic,74.625000,Passed,Period-I-Medium,Period-II-Medium,Period-III-Medium
...,...,...,...,...,...,...
243,Jinhe Chen,5.400000,Failed,Period-I-None,Period-II-None,Period-III-None
244,Vincent Mariller,0.000000,Failed,Period-I-Medium,Period-II-Medium,Period-III-Medium
245,Abdullah Al Jawhi,0.000000,Failed,Period-I-None,Period-II-None,Period-III-None
246,Sarah Cherfaoui,0.000000,Failed,Period-I-None,Period-II-None,Period-III-None
247,Sami Elatri,0.000000,Failed,Period-I-None,Period-II-None,Period-III-None

In [6]:
op = []
num = 0
clusters = ['High', 'Medium', 'Low', 'None']
index = {'High': 0,
        'Medium': 1,
        'Low': 2,
        'None': 3}

for i, row in df.iterrows():
    name = row['User full name']
    d = {'User full name': name}
    p = row['Performance']
    d['Passed'] = 1 if p == 'Passed' else 0
    d['Failed'] = 1 if p == 'Failed' else 0
    
    l = [0 for j in range(12)]
    one = index[row['Dedication1'].split('-')[-1]]
    two = index[row['Dedication2'].split('-')[-1]] + 4
    three = index[row['Dedication3'].split('-')[-1]] + 8
    l[one] = 1 
    l[two] = 1
    l[three] = 1
    for i in range(0,4):
        key = 'Period-I-' + clusters[i]
        d[key] = l[i]
    for i in range(0,4):
        key = 'Period-II-' + clusters[i]
        d[key] = l[i+4]
    for i in range(0,4):
        key = 'Period-III-' + clusters[i]
        d[key] = l[i+8]
    
    op.append(d)

In [9]:
df_out = pd.DataFrame(op)
df_out.to_csv('./pre_arm_pf_distance_with_clusters_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')

In [8]:
df_out

,User full name,Passed,Failed,Period-I-High,Period-I-Medium,Period-I-Low,Period-I-None,Period-II-High,Period-II-Medium,Period-II-Low,Period-II-None,Period-III-High,Period-III-Medium,Period-III-Low,Period-III-None
0,Rayane Azoui,1,0,0,0,1,0,0,0,1,0,0,0,1,0
1,Yacine Brihmouche,1,0,0,0,1,0,0,1,0,0,0,1,0,0
2,Anes Bouzouaoui,1,0,0,1,0,0,0,1,0,0,0,1,0,0
3,Ali Benabdallah,1,0,0,1,0,0,0,1,0,0,0,1,0,0
4,Nikola Kostadinovic,1,0,0,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Jinhe Chen,0,1,0,0,0,1,0,0,0,1,0,0,0,1
244,Vincent Mariller,0,1,0,1,0,0,0,1,0,0,0,1,0,0
245,Abdullah Al Jawhi,0,1,0,0,0,1,0,0,0,1,0,0,0,1
246,Sarah Cherfaoui,0,1,0,0,0,1,0,0,0,1,0,0,0,1
247,Sami Elatri,0,1,0,0,0,1,0,0,0,1,0,0,0,1