In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [2]:
df2 = pd.read_csv('period_distance_F20.csv', encoding='utf-8-sig')
df3 = pd.read_csv('performance_pf_F20.csv', encoding='utf-8-sig')

In [3]:
df = pd.merge(df3, df2, on='User full name')

In [4]:
df

,User full name,Grade,Performance,Period1,Period2,Period3
0,Rayane Azoui,82.050000,Passed,Period-I-Moderate,Period-II-Moderate,Period-III-Least
1,Yacine Brihmouche,77.058333,Passed,Period-I-Least,Period-II-Least,Period-III-Least
2,Anes Bouzouaoui,76.250000,Passed,Period-I-Most,Period-II-Most,Period-III-Most
3,Ali Benabdallah,75.950000,Passed,Period-I-Moderate,Period-II-Least,Period-III-Least
4,Nikola Kostadinovic,74.625000,Passed,Period-I-Moderate,Period-II-Moderate,Period-III-Moderate
...,...,...,...,...,...,...
216,Hugo Mendes,14.300000,Failed,Period-I-None,Period-II-Least,Period-III-Most
217,Mohamed Hadji,14.225000,Failed,Period-I-Least,Period-II-None,Period-III-Least
218,Loubna Lifsal,13.750000,Failed,Period-I-None,Period-II-Moderate,Period-III-Moderate
219,Yona Mellul,9.883333,Failed,Period-I-Moderate,Period-II-Least,Period-III-Moderate
220,Vincent Mariller,0.000000,Failed,Period-I-None,Period-II-None,Period-III-None

In [5]:
op = []
num = 0
clusters = ['Most', 'Moderate', 'Least', 'None']
index = {'Most': 0,
        'Moderate': 1,
        'Least': 2,
        'None': 3}

for i, row in df.iterrows():
    name = row['User full name']
    d = {'User full name': name}
    p = row['Performance']
    d['Passed'] = 1 if p == 'Passed' else 0
    d['Failed'] = 1 if p == 'Failed' else 0
    
    l = [0 for j in range(12)]
    one = index[row['Period1'].split('-')[-1]]
    two = index[row['Period2'].split('-')[-1]] + 4
    three = index[row['Period3'].split('-')[-1]] + 8
    l[one] = 1 
    l[two] = 1
    l[three] = 1
    for i in range(0,4):
        key = 'Period-I-' + clusters[i]
        d[key] = l[i]
    for i in range(0,4):
        key = 'Period-II-' + clusters[i]
        d[key] = l[i+4]
    for i in range(0,4):
        key = 'Period-III-' + clusters[i]
        d[key] = l[i+8]
    
    op.append(d)

In [8]:
df_out = pd.DataFrame(op)
df_out.to_csv('./pre_arm_pf_distance_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')

In [7]:
df_out

,User full name,Passed,Failed,Period-I-Most,Period-I-Moderate,Period-I-Least,Period-I-None,Period-II-Most,Period-II-Moderate,Period-II-Least,Period-II-None,Period-III-Most,Period-III-Moderate,Period-III-Least,Period-III-None
0,Rayane Azoui,1,0,0,1,0,0,0,1,0,0,0,0,1,0
1,Yacine Brihmouche,1,0,0,0,1,0,0,0,1,0,0,0,1,0
2,Anes Bouzouaoui,1,0,1,0,0,0,1,0,0,0,1,0,0,0
3,Ali Benabdallah,1,0,0,1,0,0,0,0,1,0,0,0,1,0
4,Nikola Kostadinovic,1,0,0,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Hugo Mendes,0,1,0,0,0,1,0,0,1,0,1,0,0,0
217,Mohamed Hadji,0,1,0,0,1,0,0,0,0,1,0,0,1,0
218,Loubna Lifsal,0,1,0,0,0,1,0,1,0,0,0,1,0,0
219,Yona Mellul,0,1,0,1,0,0,0,0,1,0,0,1,0,0
220,Vincent Mariller,0,1,0,0,0,1,0,0,0,1,0,0,0,1